{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - A propos
{% endblock %}

{% block body %}

	<div class="containerAbout">

		<div class="cardAbout CardOut">
			<div class="imageAbout">
				<div class="wallGradAboutLeft" style="--cover:url(/image/office.jpg)">
					<div class="wallHideAboutRight"></div>
				</div>
			</div>
			<div class="contentAbout">
				<div class="titleContentAbout">Qui sommes nous ?
				</div>
				<div class="bodyContent">
					<p>Dj shop est une boutique qui est née d'une collaboration entre un pere et son fils et leur passion respective, l'électronique et les jeux vidéos.
					</p>
					<p>Notre projet est la création de console Xbox 360 RGH custommisé , pour chaque nouvelle création la seul limite que nous nous imposons est notre imagination que vous pouvez decouvrir dans la boutique.</p>
				</div>
			</div>
		</div>
		<div class="cardAbout CardIn">
			<div class="contentAbout">
				<div class="titleContentAbout">La touche Dj Shop
				</div>
				<div class="bodyContent">
					<p>Pour toute nos créations nous retravaillons toutes les soudure de la console , effectuons une series de test et effectuons réparations si necessaire avant même la transition en RGH ou la customisation. Et une derniere série de test a la fin.
					</p>
					<p>Toute nos console contiennent</p>
					<ul>
					<li>Dashboard Aurora installé</li>
					<li>Dashlaunch installé</li>
					<li>Xex Menu installé</li>
					<li>KV clean</li>
					</ul>
				</div>
			</div>
			<div class="imageAbout">
				<div class="wallGradAboutRight" style="--cover:url(/image/xboxSoudure.jpg)">
					<div class="wallHideAboutLeft"></div>
				</div>
			</div>
		</div>

	</div>


{% endblock %}
