{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - Livraisons
{% endblock %}

{% block body %}

	<div class="container containerRgh">
		<div class="titleRgh">Livraison & Retours</div>
		<div class="bodyRgh">
			<div class="smallRgh">
				<p>Nous livrons toutes nos console sur le territoire Francais seulement.</p>
				<p>Votre console vous sera livré via le transporteur Colissimo, chaque envoie benifice d'un suivi et d'un envoie express garanti 48h par le transporteur.</p>
			</div>
			<div class="logoPayment">
				<img src="{{ asset('image/colissimoGrey.png') }}" alt="">

			</div>
			<br>
			<hr>
			<div class="contentRgh">
				<div class="paraRgh">
					<div class="titleParaRgh">Réception de votre commande</div>
					<div class="contentParaRgh">
						<ul>
							<li>Nous préparons chaque commande dans un délai de 48h jours ouvrés.</li>
							<li>Le transporteur Colissimo garanti une livraison sous 48h jours ouvrés</li>
							<li>Délai de livraison moyen d'une commande de 4 à 6 jours</li>
						</ul>
					</div>
				</div>
				<div class="paraRgh">
					<div class="titleParaRgh">Politique de Retours</div>
					<div class="contentParaRgh">
						<ul>
							<li>Vous pouvez retourné n'importe quel console sous 14 jours a compter de la date d'expedition.</li>
							<li>Les articles doivent conservées toute leur partit et etre en parfait état</li>
							<li>Vous pouvez faire une demande de remboursement si votre commande n'est pas encore expédié</li>
						</ul>
					</div>
				</div>

			</div>
		</div>


	</div>


{% endblock %}
