{% extends 'base.html.twig' %}

{% block title %}DJ SHOP - RGH
{% endblock %}

{% block body %}

	<div class="container containerRgh">
		<div class="titleRgh">Qu'est-ce qu'une RGH</div>
        <div class="bodyRgh">
           <div class="smallRgh">
        <p>Toutes les console Xbox 360 avec un dashboard supèrieur à 2.0.7371 ont reçus une protection suplémentaire de la part de Microsoft pour rendre imopossible la transition en JTAG.</p>
        <p>Pour passer outre cette protection un procéssus appelé RGH ( Reset Glitch Hack ) fut développé . Le Reset Glitch Hack peut être installez sur n'importe quel console Xbox 360 ayant un port HDMI</p>
        </div>
        <hr>
		<div class="contentRgh">
			<div class="paraRgh">
				<div class="titleParaRgh">Model Compatible RGH</div>
				<div class="contentParaRgh">
                <ul>
                <li>Les originals (avec un port HDMI a l'arriere)</li>
                <li>FAT - avec un port HDMI - n'importe quel dashboard au-dessus de 2.0.7371</li>
                <li>Slim - n'importe quel model -  n'importe quel dashboard</li>
                <li>360e - tout les model (sauf les version 500gb ) -  n'importe quel dashboard</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">En quoi cela consiste</div>
				<div class="contentParaRgh">
                <ul>
                <li>Avec la sortie du RGH 3.0 (28 Novembre 2021), nous pouvons reprogrammer le SMC de la carte mère de la console pour lancer une impulsion timer sur le CPU, cette technique force les sécurité du CPU permettant d'éxecuter un code non reconnu.</li>
                <li>Les carte mères Zephyr ont toujours besoin d'ètres modifié en installant une puce RGH, mais cela n'affecte en rien les perfomance de la console</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">Son Utilité ?</div>
				<div class="contentParaRgh">
                <ul>
                <li>En reprogrammant le SMC de la carte mère de la console pour lancer une impulsion sur le CPU, si l'impulsion est lancé au bon moment et a la bonne fréquence le CPU démarre donc la console sans aucune protection.</li>
                <li>Ce qui nous laisse une grande liberté sur la console comme par exemple démarrer sur un autre dashboard , lancer n'importe quel application ou jeu , d'installer des emulateur ( Sega , Nintendo etc.. ) et d'y connecter des disque dur non officiel ( jusqu'à 2Tb ).</li>
                </ul>
                </div>
			</div>
			<div class="paraRgh">
				<div class="titleParaRgh">La touche Dj Shop</div>
				<div class="contentParaRgh">
                <ul>
                <li>Une console Custom et personnalisé unique dans le monde</li>
                <li>Dashboard Aurora installé</li>
                <li>Dashlaunch installé</li>
                <li>XexMenu installé</li>
                <li>KV Clean</li>
                </ul>
                </div>
			</div>
		</div>
        </div>
     

	</div>


{% endblock %}
