<h4>Bonjour {{ app.session.get('firstnameFetch') }} {{ app.session.get('lastnameFetch') }} !</h4>

<p>
    Votre commande #{{ app.session.get('orderName') }} a étais annulez pour les raisons suivantes : {{ app.session.get('reason')}}
</p>
<p>
  Un remboursement via Paypal vous seras fais sous peu , vous recevrez un mail une fois le remboursement effectué !
</p>




