<h4>La commande #{{ app.session.get('orderName') }} a étais annulez pour les raisons suivantes :</h4>

<p>
     {{ app.session.get('reason')}}
</p>
<p>
    Veuillez effectué le remboursement Paypal de la commande d'un montant de {{ app.session.get('totalPrice') }} et suivre la procédure du site en validant la commande comme validez en entrant le n° de transaction paypal depuis votre page administrateur <a href="https://127.0.0.1:8000/xbox/admin/order"> Liste des commandes</a>
</p>




