<h4> Une nouvelle commande a étais passé !</h4>


<p>
    La commande  #{{ app.session.get('orderName') }} contentant {{app.session.get('title')}} pour un total de {{app.session.get('totalPrice')}} viens d'ètre éffectué. Veuillez vous rendre sur le site pour passer a la prochaine étape  <a href="https://127.0.0.1:8000/xbox/admin/order">l'éxpedition</a> !
</p>




