<h4>Bonjour {{ app.session.get('cartFirstnameFetch') }} {{ app.session.get('cartLastnameFetch') }} !</h4>

<p>
    Votre commande # {{ app.session.get('orderName') }} est en cours de préparation. Un mail vous sera envoyé au moment de l'expedition, vous pouvez a tout moment vérifié l'etat de votre commande directement sur le site depuis la page  <a href="https://127.0.0.1:8000/xbox/order">Mes commandes</a> !
</p>




