<h4>La commande #{{ app.session.get('orderName') }} a bien étais remboursé.</h4>

<p>
     Vous pouvez verifier la transaction n°{{ app.session.get('refund') }} directement depuis <a href="https://www.paypal.com/">Paypal</a>
</p>




