<h4> 
    La commande  #{{ app.session.get('orderName') }} viens d'etre expédié.</h4>


<p>
    Le numéro de suivi est {{app.session.get('suivi')}} , vérifié son statut de la livraison atout moment depuis le site de  <a href="https://www.laposte.fr/outils/suivre-vos-envois">La Poste</a> 
</p>




