<h4> Bonjour {{app.session.get('firstname')}} {{app.session.get('laststname')}}</h4>


<p>
    Votre commande  #{{ app.session.get('orderName') }} viens d'etre expédié. Votre numéro de suivi est {{app.session.get('suivi')}} vous pouvez a tout moment vérifié le statut de la livraison sur le site  <a href="https://www.laposte.fr/outils/suivre-vos-envois">La Poste</a> 
</p>




